{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    "react/jsx-key": "error",
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.test.jsx",
          "**/*.test.ts",
          "**/*.test.tsx",
          "src/tests/**/*"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {}
    }
  ]
}
